.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 24px;

  @media screen and (max-width: 575px) {
    padding-inline: 16px; 
  }

  &.is-xl {
    width: 1280px;
  }
}

.is-hidden-sm-down {
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.mt-50 {
  margin-top: 50px;
}

.a-switch {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: all .2s ease-out;

}

.a-switch__label {
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: $muted-text;
  margin-right: 8px;

  .a-help {
    position: relative;
    top: -1px;
  }

  &:hover {
    .a-switch__label-text {
      color: $main-text;
      text-decoration: underline;
    }

    .a-help {
      background-color: $main;
    }
  }
}

.a-toggle-checkbox {
  height: 0;
  width: 0;
  display: block;
  position: fixed;
  left: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.a-help {
  font-size: 12px;
  line-height: 1;
  display: inline-flex;
  color: $reversal-text;
  width: 28px;
  height: 28px;
  text-decoration: none;
  background-color: $muted-text;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    background-color: $main;
    color: $reversal-text;
  }

  &:last-child {
    margin-left: 4px;
  }

}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 16px;

  input:checked + & {
    display: block;
  }
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, .8);
}

.modal__title {
  font-weight: 600;
  font-size: 20px;

  @media screen and (max-width: 575px) {
    font-size: 16px;
    
  }
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $border-tint;
  padding: 4px 24px;

  @media screen and (max-width: 575px) {
    padding: 4px 16px;
    
  }
}

.modal-header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  cursor: pointer;
  opacity: .4;
  transition: all .2s ease-out;
  position: relative;
  margin-right: -24px;

  @media screen and (max-width: 575px) {
    margin-right: -16px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: $default-text;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    opacity: 1;
  }
}

.modal__content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: $base;
  border-radius: 4px;
  width: 640px;
  max-width: calc(100% - 32px);
}

.modal__body {
  max-height: calc(100vh - 184px);
  overflow: auto;
  border-bottom: solid 1px $border-tint;
  padding: 24px;

  @media screen and (max-width: 575px) {
    padding: 16px;
  }
}

.modal__description {
  &.is-md {
    font-size: 14px;
  }
}










.welcome-child-section {
  &.is-unlimited {
    .welcome-small-sections {
      margin-top: 56px;
      margin-bottom: 0;
      padding: 48px 24px 16px;
      position: relative;

      &.a-card {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        width: 100%; 
        margin-inline: auto;
        background-color: $base;
        border: solid 1px $border;
      }
    }
    
    .welcome-small-sections__title {
      $height: 52px;
      $width: 320px;

      line-height: 1.4;
      margin-top: 0;
      font-weight: 700;
      text-align: center;
      display: flex;

      font-size: 20px;
      background-size: 28px;
      margin-bottom: 0;
      height: $height;
      width: $width;
      margin-left: calc(320px / -2);
      left: 50%;
      position: absolute;
      top: calc(52px / -2);

      &.a-card {
        border-radius: 4px;
        background-color: $base;
        border: solid 1px $border;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }}
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  
  @media screen and (max-width: 575px) {
    flex-direction: column;
  }
}

.welcome-small-section {
  height: 100%;
}

.welcome-small-section__icon {
  display: block;
  margin-inline: auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
  font-size: 80px;

  @media screen and (max-width: 575px) {
    width: 64px;
    height: 64px;
    font-size: 48px; 
  }
}

.welcome-small-section__inner {
  padding: 20px 24px 24px;
  height: 100%;
  padding-bottom: 16px;
}

.welcome-small-section__title {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 11.2px;
  font-weight: 600;
  text-align: center;
  font-feature-settings: "palt";

  @media screen and (max-width: 575px) {
    font-size: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.welcome-small-section__description {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 19.2px;

    &:last-child {
      margin-bottom: 0;
    } 
  }
}