html {
  font-family: $sans-serif;
  color: $default-text;
  scroll-padding-top: $header-height__md-up;

  @media screen and (max-width: 575px){
    scroll-padding-top: 0;
  }
}

body {
  min-height: 100vh;
  height: 100%;

  .is-application {
    background-color: $background;
  }

  .no-header {
    .wrappper {
      padding-top: 0;
    }
  }

  .no-global-nav {
    .wrappper {
      margin-left: 0;
    }
  }
}

.wrapper {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-y: visible;
  height: auto;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-body {
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: calc(100vh - 321px);

  .container {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 24px;
    width: 1280px;
    margin-top: 30px;
  }

  &__inner {
    position: relative;
  }

  &__columns {
    display: flex;
    position: relative;
    gap: 24px;
  }

  &__column {
    &.is-main {
      flex: 1 1;
      margin-inline: auto;
    }

    &.is-sub {
      display: none;

      @media screen and (min-width: 1023px) {
        display: flex;
        flex: 0 0 320px;
      }
    }
  }
}

.categories-item {
  &:not(:last-child) {
    margin-bottom: 48px;
  }

  &__body {
    overflow: hidden;
    clear: both;
  }
}

.page-nav {
  right: 0;
  position: sticky;
  overflow: hidden;
}

.sample {
  height: 500px;

  &.is-xxl {
    height: 1500px;
  }
}