<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ヘッダーの設定</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header class="header">
    <a href="">
      <img src="./assets/images/board-logo.svg" alt="company logo">
    </a>
    <div>要素２</div>
    <div>要素３</div>
  </header>
  <main>
    <h1>mainの設定</h1>
    <div>要素1</div>
    <div>要素2</div>
    <div>要素3</div>
    <span></span>
  </main>
</body>
</html>
<script>
  const spanElement = document.querySelector('span')
  if (spanElement) {
    const text = "あ".repeat(1000)
    spanElement.textContent = text
  }
</script>

