/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  user-select: none;
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: auto;
  -webkit-line-break: after-white-space;
  user-select: none;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}
@media screen and (max-width: 575px) {
  .container {
    padding-inline: 16px;
  }
}
.container.is-xl {
  width: 1280px;
}

.welcome-child-section.is-unlimited .welcome-small-sections {
  margin-top: 56px;
  margin-bottom: 0;
  padding: 48px 24px 16px;
  position: relative;
}
.welcome-child-section.is-unlimited .welcome-small-sections.a-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  margin-inline: auto;
  background-color: white;
  border: solid 1px hsl(242, 7%, 89%);
}
.welcome-child-section.is-unlimited .welcome-small-sections__title {
  line-height: 1.4;
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  display: flex;
  font-size: 20px;
  background-size: 28px;
  margin-bottom: 0;
  height: 52px;
  width: 320px;
  margin-left: -160px;
  left: 50%;
  position: absolute;
  top: -26px;
}
.welcome-child-section.is-unlimited .welcome-small-sections__title.a-card {
  border-radius: 4px;
  background-color: white;
  border: solid 1px hsl(242, 7%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 575px) {
  .row {
    flex-direction: column;
  }
}

.welcome-small-section {
  height: 100%;
}

.welcome-small-section__icon {
  display: block;
  margin-inline: auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
  font-size: 80px;
}
@media screen and (max-width: 575px) {
  .welcome-small-section__icon {
    width: 64px;
    height: 64px;
    font-size: 48px;
  }
}

.welcome-small-section__inner {
  padding: 20px 24px 24px;
  height: 100%;
  padding-bottom: 16px;
}

.welcome-small-section__title {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 11.2px;
  font-weight: 600;
  text-align: center;
  font-feature-settings: "palt";
}
@media screen and (max-width: 575px) {
  .welcome-small-section__title {
    font-size: 16px;
  }
}
.welcome-small-section__title:last-child {
  margin-bottom: 0;
}

.welcome-small-section__description:not(:last-child) {
  margin-bottom: 16px;
}
.welcome-small-section__description p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 19.2px;
}
.welcome-small-section__description p:last-child {
  margin-bottom: 0;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=application.css.map */
